@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --light-grey-color: #50504e;
    --grey-color: #30302e;
    --dark-grey-color: #262624;
    --shadow-color: #181818;
    --light-purple-color: #d8affd;
    --purple-color: rgb(169, 76, 255);
    --dark-purple-color: #8d3cda;
  }
}

body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; padding: 0; margin: 0; }
.container { max-width: 1000px; margin: 0 auto; padding: 20px; }
.card { border: 1px solid #eee; padding: 12px; border-radius: 8px; margin-bottom: 8px; }


.bg-dark-grey {
  background-color: var(--dark-grey-color);
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-light-grey {
  background-color: var(--light-grey-color);
}
.border-grey {
  border: 3px solid var(--grey-color);
}
.border-light-grey {
  border: 3px solid var(--light-grey-color);
}
.outline-purple {
  outline: 3px solid var(--purple-color);
}
.bg-light-purple {
  background-color: var(--light-purple-color);
}
.border-light-purple {
  border: 3px solid var(--light-purple-color);
}
.bg-purple {
  background-color: var(--purple-color);
}
.border-purple {
  border: 3px solid var(--purple-color);
}
.shadow {
  box-shadow: 0 0px 50px var(--shadow-color);
}

.hoverable-purple:hover {
  background-color: var(--dark-purple-color);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.text-purple {
  color: var(--purple-color);
}
